

@font-face {
    font-family: 'multi';
    src: url("Multicolore.otf") format("opentype");
}

body{
	background-color: #000000;
	color: #fefefe;
	

}


.b{
	border: 3px solid white;
}

.c{
	text-align: center;
}

.r{
	text-align: right;
}
.cUs{
	margin-top: 10px;
	font: 20px bold;
	font-family: "multi";
}
.dFont{
	font-family: "multi";

}

#email{
	margin-right: 20px;
	margin-top: 20px;
	display: none;
	font: 11px bold;
	font-family: "multi";
}
.uConstruction{
	margin-top: 35px;
	font: 27px bold;
	font-family: "multi";
}

i.navicons{
	font: 33px bold;
}

a{
	color: white;

}

img#logo{
	height: auto;
	width: 500px;
}

@media only screen and (min-width: 500px){

}